@font-face {
  font-family: "Poppins", sans-serif;
  src: url(/src/assets/font/Poppins/Poppins-ExtraLight.ttf);
}
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  color: #0D0460;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
a{
  color: inherit;
  text-decoration: none;
}
a:active, a:visited{
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 60px;
  margin: 0;
  font-weight: 900;
}
h2{
  font-size: 30px;
  margin: 0;

}
h3{
  font-size: 25px;
  margin: 0;

}